/*전체*/

body{
    font-family: 'Roboto', 'Noto Sans KR';
}
body.fixed{
    overflow-y: hidden;
}

div[class*=Inner]{
    margin: 0 auto;
    max-width: 1280px;
}

@media only screen and (max-width:1280px){
    #header .navBar{
        padding: 0 5%;
    }
    #page2 .page2Inner{
        padding: 0 5%;
    }
    #page3 .page3Fix{
        padding: 0 5%;
    }
    #page4 .page4Inner{
        padding: 0 5%;
    }
}
@media only screen and (max-width:740px){
    /* #header{
        font-size: 0.75em;
    } */
    #page1{
        font-size: 0.75em;
    }
    #page2{
        font-size: 0.75em;
    }
    #page3{
        font-size: 0.75em;
    }
    #page4{
        font-size: 0.75em;
    }
    #iconMenu{
        font-size: 0.75em;
    }
}
@media only screen and (max-width:320px){
    /* #header{
        font-size: 0.7em;
    } */
    #page1{
        font-size: 0.7em;
    }
    #page2{
        font-size: 0.7em;
    }
    #page3{
        font-size: 0.7em;
    }
    #page4{
        font-size: 0.7em;
    }
    #iconMenu{
        font-size: 0.7em;
    }
}


/* 메뉴 */
#header{
    z-index: 9999;
    position: fixed;
    width: 100%;
    background-color:transparent;
    text-align: center;
}
#header .navBar{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    line-height: 3em;
    margin: 0 auto;
    position: relative;
}
#header .logo{
    width: 5%;
}
#header .logo a{
    display: block;
    font-size: 1.25em;
    font-weight: 800;
    font-family: Nanum Gothic;
    color: #fff;
}


#pcNav{
}
#pcNav ul{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
#pcNav ul li{
    /* width: 100%; */
}
#pcNav ul li a{
    display: block;
    font-size: 0.875em;
    font-weight: 700;
    color: #ccc;
    padding: 0 1em;
    margin: 0 3em;
    position: relative;
    font-family: Nanum Gothic;
}
#pcNav ul li.active a{
    color: #fff;
    font-weight: 800;
}
#pcNav ul li.active a::after{
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 5px;
}

#mobNav{
    display: none;
    background-color: rgba(0,0,0,0.9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 888;
}
#mobNav ul{
    margin-top: 15%;
}
#mobNav ul li{}
#mobNav ul li a{
    display: block;
    color: #fff;
}
#mobNav.open{
    display: block;
}

#header .mobOpen{
    background-color: transparent;
    position: absolute;
    right: 3%;
    top: 25%;
    width: 2rem;
    height: 2.5rem;
    display: none;
    z-index: 999;
}
#header .mobOpen a{}
#header .mobOpen a span{
    width: 100%;
    height: 15%;
    border-radius: 1rem;
    display: block;
    background-color: #fff;
    z-index: 999;
    transition: opacity 0.6s, transform 0.5s;

}
#header .mobOpen a span:nth-child(2){
    margin: 0.25em 0;
}
/* #header .mobOpen.active a span{
    background-color: #fff;
} */
#header .mobOpen.active a span:nth-child(1){
    transform: rotate(45deg) translateY(14px);
}
#header .mobOpen.active a span:nth-child(2){
    transform: translateX(100px);
    opacity: 0;
}
#header .mobOpen.active a span:nth-child(3){
    transform: rotate(-45deg) translateY(-14px);
}

/* 헤더 네비게이션 스크롤 색변환 */
#header.white{
    background-color: #fff;
}
#header.white .logo a{
    color: #000;
}
#header.white .mobOpen a span{
    background-color: #000;
}
#header.white .mobOpen.active a span{
    background-color: #fff;
}
#pcNav.white ul li.active a{
    color: #000;
}
#pcNav.white ul li.active a::after{
    background-color: #000;
}

@media only screen and (max-width:940px){
}
@media only screen and (max-width:740px){
    #header .mobOpen{
        display: block;
    }
    #pcNav{
        display: none;
    }
}
@media only screen and (max-width:460px){}

/* 메인 페이지 */
#page1{
}
#page1 .page1Slider{
    position: relative;
}
#page1 .swiper{}
#page1 .swiper-wrapper{
    /* overflow-x: hidden; */
}
#page1 .swiper-slide{}
#page1 .swiper-slide video{
    display: block;
    width: 100%;
    height: auto;
    min-height: 400px;
    object-fit: cover;
}
#page1 .page1Controller{}

/* 스와이프 내용 관련 */
#page1 .slideText{
    position: absolute;
    left: 10%;
    top: 35%;
    z-index: 55;
    color: #8ac007;
    text-shadow: #000;
}
#page1 .slideText *{
    display: block;
}
#page1 .slideText strong{
    font-size: 2.5em;
    opacity: 0;
    transform: translateX(100px);
}
#page1 .slideText > span{
    font-size: 1.125em;
    color: #69910c;
    margin: 5% 0;
    opacity: 0;
    transform: translateX(100px);
}
#page1 .mainText{

}
#page1 .mainText span{
    font-size: 0.75em;
    margin-top: 2%;
    opacity: 0;
    transform: translateX(100px);
}
#page1 .mainText span::before{
    display: inline-block;
    content: "";
    border: 0.25em solid #8ac007;
    width: 0;
    height: 0;
    margin-right: 5px;
    vertical-align: middle;
    opacity: 0;
    transform: translateX(100px);
}
#page1 .slideText.active strong{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.75s, transform 0.75s;
}
#page1 .slideText.active > span{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.75s, transform 0.75s;
    transition-delay: 0.8s;
}

#page1 .slideText.active .mainText span{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.75s, transform 0.75s;
}
#page1 .slideText.active .mainText span:nth-child(1){
    transition-delay: 1s;
}
#page1 .slideText.active .mainText span:nth-child(2){
    transition-delay: 1.3s;
}
#page1 .slideText.active .mainText span:nth-child(3){
    transition-delay: 1.6s;
}
#page1 .slideText.active .mainText span::before{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.75s, transform 0.75s;
}


/* 스와이프 페이지네이션 */
#page1 .swiper-pagination{
    transform: translate(5em, -5em);
    width: 10%;
}
#page1 .swiper-pagination-bullet{
    width: 0.5em;
    height: 2em;
    border-radius: 0;
    background-color: #fff;
    opacity: 1;
    transition: 0.5s;
}
#page1 .swiper-pagination-bullet-active{
    background-color: aquamarine;
    height: 3em;
}
#page1 .page1Controller{
    transform: translate(13em, -6.5em);
    letter-spacing: 30%;
    position: absolute;
    z-index: 87;
}
#page1 .slidePause{}
#page1 .slidePause i{
    display: block;
    color: #8ac007;
}
#page1 .slidePause.play i::before{
    content: "\ea3e";
}
#page1 .slidePause.pause i::before{
    content: "\ea3b";
}

/*
#page1 .persentBar{
    background-color: #fff;
    width: 5em;
    height: 2px;
}
#page1 .persentBar span{
    display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 1px;
	background-color: aquamarine;
} */

@media only screen and (max-width:740px){
    #page1 .swiper-pagination{}
}
@media only screen and (max-width:460px){
    #page1 .swiper-pagination{
        width: 20%;
    }
}

/* 스킬 */
#page2{
    background-color: #e9e9e9;
    padding: 5% 0;
}
#page2 .page2Inner{
}
#page2 .page2Top{
    margin-bottom: 10%;
    position: relative;
}
#page2 .page2Top h1{
    font-weight: 400;
    font-size: 2em;
    color: #333;
}
#page2 .page2Top h1 strong{
    font-weight: 600;
}
div[class*=Top] h1 strong::after{
    display: inline-block;
    content: "";
    border-radius: 50%;
    background-color: #333;
    width: 0.25em;
    height: 0.25em;
    margin:0 2% 0 0.5%;
}
#page2 .page2Top h1 span{
    display: inline-block;
    font-weight: 600;
    color: #000;
}

#page2 .page2Cont{}
#page2 .page2Cont ul{}
#page2 .page2Cont ul li{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    border-bottom: 1px solid #000;
    padding: 2% 0;
}
#page2 .page2Cont ul li:first-child{
    border-top: 1px solid #000;
}
#page2 .page2Cont ul li > h3{
    width: 25%;
    font-size: 1.25em;
    cursor: pointer;
}
#page2 .page2Skill{
    display: none;
    width: 70%;
}
#page2 .page2Skill.active{
}
#page2 .page2Skill h3{
    font-size: 1em;
    margin-bottom: 2%;
}
#page2 .page2Skill p{
    font-size: 0.875em;
    line-height: 145%;
}
#page2 .page2Skill p:nth-child(2){
    margin-bottom: 2%;
}
#page2 .page2Skill p:nth-child(n+3){
    color: #333;
}

@media only screen and (max-width:940px){
    #page2 .page2Inner{
        padding: 0 5%;
    }
}
@media only screen and (max-width:740px){
    #page2{
        padding: 10% 0;
    }
}
@media only screen and (max-width:460px){
    #page2{
        padding: 15% 0;
    }
    #page2 .page2Top h1{
        line-height: 145%;
    }
    #page2 .page2Cont ul li{
        flex-flow: column wrap;
        word-break: break-all;
    }
    #page2 .page2Cont ul li > h3{
        width: 100%;
        margin-bottom: 1em;
    }
    #page2 .page2Skill {
        width: 90%;
        margin-left: 2em;
    }
}
@media only screen and (max-width:320px){

}

/* 포트폴리오 */
#page3{
    padding: 5% 0;
    
}
#page3 .page3Inner{
    width: 100%;
}
#page3 .page3Top{
    background-color: #fff;
    width: 100%;
    padding-bottom: 2%;
    z-index: 9989;
}
#page3 .page3Top h1{
    font-weight: 400;
    font-size: 2em;
    color: #333;
    padding-bottom: 2%;
}
#page3 .page3Top h1 strong{}
#page3 .tab > ul{
    display: flex;
    justify-content: start;
    border-top: 1px solid #ccc;
    flex-flow: row wrap;
}
#page3 .tab > ul li{
    font-size: 1.25em;
    font-weight: 500;
    padding-top: 1%;
    margin-right: 5%;
    border-top: 5px solid transparent; 
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}
/* #page3 .page3Top .page3Fix > ul li:hover{
    border-top: 5px solid #000;
}  */
#page3 .page3Fix{
    max-width: 1280px;
    background-color: #fff;
}
#page3 .page3Selection{
    width: 80%;
    text-align: center;
    margin-top: 30px;
}
#page3 .page3Selection ul{
    display: flex;
    justify-content: start;
    flex-flow: row wrap;
}
#page3 .page3Selection ul li{
    box-sizing: border-box;
    margin-right: 2%;
    line-height: 3em;
}
#page3 .page3Selection ul li a{
    display: inline-block;
    background-color: #f3f3f3;
    line-height: 2em;
    padding: 0 20px;
    color: #333;
}
#page3 .page3Selection ul li.active a{
    color: #000;
    font-weight: 500;
}
#page3 .page3Top.fixed{
    position: fixed;
    
}
#page3 .page3Top.hide{
    display: none;
}
#page3 .tab{
    position: relative;
}
#page3 .bar{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0.25em;
    background-color: #000;
    transition: 0.3s;
    border-radius: 2.5px;
}

#page3Cont{
}
#page3Cont .page3Box{
    margin-top: 5%;
}
#page3Cont .page3Box > a{}
#page3Cont .page3Box > a img{
    width: 100%;
    display: block;
    /* max-width: 1280px; */
    height: auto;
}
#page3Cont .page3Box > div{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
#page3Cont .left{
    text-align: right;
    font-family: Nanum Gothic;
    font-weight: 800;
    font-size: 1em;
    line-height: 145%;
    width: 15%;
}
#page3Cont .left ul{}
#page3Cont .left ul li{}
#page3Cont .right{
    width: 80%;
}
#page3Cont .right a{
    display: block;
}
#page3Cont .right a h2{
    font-size: 2.125em;
    font-weight: 900;
}
#page3Cont .right a h3{
    font-size: 2.125em;
    font-weight: 400;
    margin: 1% 0;
}
#page3Cont .right a p{
    color: #333;
    line-height: 145%;
}

#page3Cont .page3Box.hide{
    display: none;
}

@media only screen and (max-width:940px){
    #page3Cont .page3Box > a img{
        max-width: 940px;
    }
    #page3 .page3Fix{
        padding: 0 5%;
    }
}
@media only screen and (max-width:740px){
    #page3{
        padding: 10% 0;
    }
    #page3Cont .page3Box{
        margin-top: 10%;
    }
    #page3Cont .page3Box > a img{
        max-width: 740px;
    }
    #page3 .page3Selection{
        width: 100%;
    }
}
@media only screen and (max-width:460px){
    #page3{
        padding: 15% 0;
    }
    #page3Cont .page3Box > a img{
        max-width: 460px;
    }
    #page3 .page3Selection{
        width: 100%;
    }
    #page3Cont .left{
        width: 20%;
    }
    #page3Cont .right{
        width: 75%;
    }
}
@media only screen and (max-width:320px){
    #page3{
        font-size: 0.7em;
    }
}

/*어바웃*/
#page4{
    background-color: #e9e9e9;
    padding: 5% 0;
}
#page4 .page4Inner{
    position: relative;
}
#page4 .page4Top{
    border-bottom: 1px solid #ccc;
    padding-bottom: 3%;
}
#page4 .page4Top h1{
    font-weight: 300;
    font-size: 2em;
    color: #333;
}
#page4 .page4Top h1 strong{
    font-weight: 700;
}
#page4 .page4Cont{
    margin-top: 3%;
    display: flex;
    justify-content: start;
    flex-flow: row wrap;
}
#page4 .page4Cont img{
    display: block;
    max-width: 300px;
    height: auto;
}
#page4 .page4Cont div{
    width: 50%;
    margin-left: 3%;
}
#page4 .page4Cont div ul{
    margin-bottom: 5%;
}
#page4 .page4Cont div ul li{
    font-size: 1.25em;
    font-weight: 800;
    line-height: 190%;
}
#page4 .page4Cont div ul li span{
    display: inline-block;
    font-weight: 400;
    margin-left: 5%;
}
#page4 .page4Cont div p{
    color: #333;
    font-size: 1.125em;
    line-height: 180%;
}

#page4 .resume{
    display: inline-block;
    background-color: #333;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 10em;
}
#page4 .resume p{
    color: #fff;
    font-size: 1.25em;
}
#page4 .resume p::before{

}

@media only screen and (max-width:940px){
    #page4{
        font-size: 0.75em;
    }
    #page4 .page4Inner{
        padding: 0 5%;
    }
    #page4 .resume{
        right: 5%;
    }
}
@media only screen and (max-width:740px){
    #page4{
        padding: 10% 0;
    }

}
@media only screen and (max-width:460px){
    #page4{
        padding: 15% 0;
    }
    #page4 .page4Top h1{
        line-height: 145%;
    }
    #page4 .page4Cont div{
        width: 100%;
    }
    #page4 .resume{
        bottom: 13%;
        width: 8em;
        height: 8em;
        line-height: 8em;
    }
}
@media only screen and (max-width:320px){
    #page4 .resume{
        position: static;
        transform: translate(200%, 30%);
    }
}


/* 아이콘 메뉴 */
#iconMenu{
    position: fixed;
    right: 1%;
    bottom: 50%;
    transform: translateY(100%);
    text-align: right;
    z-index: 8989;
}
#iconMenu ul{}
#iconMenu ul li{
    padding: 8px;
}
#iconMenu ul li span{
    display: none;
    vertical-align: middle;
    font-weight: 500;
    color: #fff;
    margin-right: 8px;
}
#iconMenu ul li a{
    display: inline-block;
    vertical-align: middle;
}
#iconMenu ul li a i{
}
#iconMenu ul li a i::before{
    display: inline-block;
    font-size: 2em;
}
#iconMenu ul li:hover{
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
}
#iconMenu ul li:hover span{
    display: inline-block;
}
#iconMenu ul li:hover i::before{
    color: #fff;
}
