@charset "utf-8";

body {
	overflow-y: hidden;
	font-family: "Roboto", "Noto Sans KR", sans-serif;
}
.clearfix::before,
.clearfix::after {
	content: "";
	display: block;
}
.clearfix::after {
	clear: both;
}
.wrapper {
	min-width: 370px;
}

/* #header */
#header {
	font-size: 1em;
}
#header .menu_zone {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 100px;
	overflow: hidden;
	background-color: transparent;
	transition: height 0.4s, background-color 0.4s, top 0.4s;
}
#header .menu_zone::after {
	content: "";
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
	height: 1px;
	background-color: #ddd;
}
#header .menu_zone.over::after{
	display: block;
}
#header .menu_zone.over {
	height: 330px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}
#header .menu_zone.fixed {
	top: -10px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}
#header .menu_zone.fixed {
	background-color: #fff;
}
#header .menu_zone .menu_zone_inner {
	position: relative;
	height: 100px;
}
#header .menu_zone .logo {
	position: absolute;
	left: 70px;
	top: 22px;
}
#header .menu_zone .logo a {
	display: block;
	width: 135px;
	height: 60px;
	background: url(../images/logo1.png) no-repeat center center;
	background-size: cover;
	transition: background 0.4s;
}
#header .menu_zone.over .logo a,
#header .menu_zone.fixed .logo a {
	background-image: url(../images/logo2.png);
}
#gnb {
	padding-right: 7.5em;
	text-align: center;
}
#gnb > ul > li {
	display: inline-block;
	position: relative;
	padding: 1em 1.375em 0;
}
.over #gnb > ul > li:hover > a,
.fixed #gnb > ul > li:hover > a {
	color: #f8ab03;
}
#gnb > ul > li::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: -12px;
	width: 100%;
	height: 0.5px;
	background-color: #f8ab03;
	transform: scaleX(0);
	transition: transform 0.4s;
}
.over #gnb > ul > li:hover::before,
.fixed #gnb > ul > li:hover::before {
	transform: scaleX(1);
}
#gnb > ul > li > a {
	display: block;
	line-height: 4em;
	font-size: 1.125em;
	font-weight: 400;
	color: #fff;
	transition: color 0.2s;
}
.over #gnb > ul > li > a,
.fixed #gnb > ul > li > a {
	color: #333;
}
#gnb ul ul {
	position: absolute;
	left: 0;
	top: 100px;
	padding-top: 20px;
	width: 100%;
	height: 200px;
	border: none;
}
#gnb > ul > li:first-child > ul {
	border: none;
}
.over #gnb ul ul {
	border-right: 1px solid #ddd;
}
.over #gnb > ul > li:first-child > ul {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
#gnb ul ul li a {
	display: block;
	line-height: 2.750em;
	font-size: 0.938em;
	font-weight: 400;
	color: #767676;
	transition: color 0.2s;
}
#gnb ul ul li a:hover {
	color: #f8ab03;
}
#header .menu_zone .menu {
	position: absolute;
	right: 70px;
	top: 36px;
}
#header .menu_zone .location {
	display: inline-block;
	padding-right: 1.5em;
	vertical-align: middle;
}
#header .menu_zone .location li {
	display: inline-block;
	margin-left: 0.5em;
}
#header .menu_zone .location li:first-child {
	margin-left: 0;
}
#header .menu_zone .location li a {
	display: block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 1em;
	font-weight: 600;
	color: #fff;
	border-radius: 20px;
}
#header .menu_zone .location li.login a {
	background-color: #f8ab03;
}
#header .menu_zone .location li.join a {
	background-color: #49918e;
}
#header .menu_zone .location li.sns a {
	width: 45px;
	height: 30px;
	background-color: transparent;
	border: 1px solid #fff;
	transition: border 0.3s, background-color 0.3s;
}
#header .menu_zone.over .location li.sns a,
#header .menu_zone.fixed .location li.sns a {
	color: #333;
	border: 1px solid #333;
}
#header .menu_zone.over .location li.sns:hover a,
#header .menu_zone.fixed .location li.sns:hover a {
	background-color: #333;
	color: #fff;
	border: 1px solid #333;
}

/* sitemap_btn*/
#header .menu_zone .site_map {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	transition: 0.3s;
}
#header .menu_zone .site_map li {
	position: relative;
	left: 0;
	top: 0;
	margin-bottom: 5px;
	width: 23px;
	height: 2px;
	background-color: #fff;
	transition: 0.3s;
}
#header .menu_zone.over .site_map li,
#header .menu_zone.fixed .site_map li {
	background-color: #333;
}
#header .menu_zone .site_map li:nth-child(2) {
	margin-left: 5px;
	width: 18px;
}
#header .menu_zone .site_map li:last-child {
	margin-bottom: 0;
}
#header .menu_zone .site_map:hover li:first-child {
	width: 10px;
	left: 13px;
	top: 4px;
	transform: rotate(30deg);
}
#header .menu_zone .site_map:hover li:last-child {
	left: 13px;
	top: -4px;
	width: 10px;
	transform: rotate(-30deg);
}

/* main slider */
#header .main_container .main_slider .keyvisual {
	position: relative;
	width: 100%;
	height: 100vh;
}
#header .main_container .main_slider .keyvisual li {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
#header .main_container .main_slider .keyvisual li.active {
	z-index: 5;
}
#header .main_container .main_slider .keyvisual li .key_img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #000;
	opacity: 0;
	transform: scale(1);
	transition: transform 2s ease;
}
#header .main_container .main_slider .keyvisual li.active .key_img {
	opacity: 1;
	transform: scale(1.1);
}
#header .main_container .main_slider .keyvisual li:nth-child(1) .key_img {
	background: url(../images/keyvisual1.jpg) no-repeat center center;
	background-size: cover;
}
#header .main_container .main_slider .keyvisual li:nth-child(2) .key_img {
	background: url(../images/keyvisual2.jpg) no-repeat center center;
	background-size: cover;
}
#header .main_container .main_slider .keyvisual li:nth-child(3) .key_img {
	background: url(../images/keyvisual3.jpg) no-repeat center center;
	background-size: cover;
}
#header .main_container .main_slider .keyvisual .m_txt_inner {
	position: relative;
	margin-left: 220px;
	height: 100vh;
}
#header .main_container .main_slider .keyvisual .m_txt {
	position: absolute;
	left: 0;
	bottom: 200px;
	color: #fff;
}
#header .main_container .main_slider .keyvisual .m_txt h2 {
	position: relative;
	line-height: 1.375em;
	font-size: 3.375em;
	font-weight: 600;
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 0.6s, transform 1s;
}
#header .main_container .main_slider .keyvisual li.active .m_txt h2 {
	opacity: 1;
	transform: translateY(0);
}
#header .main_container .main_slider .keyvisual .m_txt span {
	display: block;
	margin-bottom: -6px;
	font-size: 0.741em;
	font-weight: 300;
}
#header .main_container .main_slider .keyvisual .m_txt p {
	position: relative;
	top: 18px;
	line-height: 1.625em;
	font-size: 1.5em;
	font-weight: 300;
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 0.6s, transform 0.8s;
	transition-delay: 0.4s;
}
#header .main_container .main_slider .keyvisual li.active .m_txt p {
	opacity: 1;
	transform: translateY(0);
}
#header .main_container .main_slider .controller_inner {
	position: relative;
	margin-left: 220px;
}
#header .main_container .main_slider .controller {
	position: absolute;
	left: 0;
	bottom: 90px;
	z-index: 10;
	width: 154px;
	height: 8px;
}
#header .main_container .main_slider .controller li {
	display: inline-block;
	margin-left: 10px;
}
#header .main_container .main_slider .controller li:first-child{
	margin-left: 0;
}
#header .main_container .main_slider .controller li a {
	display: block;
	width: 42px;
	height: 8px;
	background-color: #fff;
}
#header .main_container .main_slider .controller li.on a{
	background-color: #f8ab03;
}
#header .main_container .main_slider .main_scroll {
	position: absolute;
	left: 50%;
	bottom: 60px;
	z-index: 10;
	animation: ico_move 3s infinite;
	animation-timing-function: ease;
	cursor: pointer;
}

@keyframes ico_move {
	0% {
		bottom: 45px;
	}
	50% {
		bottom: 60px;
	}
	100% {
		bottom: 45px;
	}
}

#header .main_container .main_slider .main_scroll img {
	max-width: 100%;
}

@media only screen and (max-width: 1200px) {
	#header .menu_zone .location li.login,
	#header .menu_zone .location li.join {
		display: none;
	}
	#header .menu_zone .location {
		padding-right: 0.625em;
	}
	#gnb {
		padding-left: 3.125em;
		padding-right: 0;
	}
	#gnb > ul > li {
		padding: 1em 1.250em 0;
	}
	#header .main_container .main_slider .keyvisual .m_txt_inner {
		margin-left: 130px;
	}
	#header .main_container .main_slider .controller_inner {
		margin-left: 130px;
	}
}

@media only screen and (max-width: 1024px) {
	#header .menu_zone.over {
		height: 100px;
	}
	#header .menu_zone .location {
		padding-right: 1.875em;
	}
	#gnb {
		display: none;
	}
	#header .main_container .main_slider .keyvisual .m_txt_inner {
		margin-left: 100px;
	}
	#header .main_container .main_slider .controller_inner {
		margin-left: 100px;
	}
}
@media only screen and (max-width: 800px) {
	#header .main_slider {
		font-size: 0.75em;
	}
	#header .menu_zone .logo {
		left: 27px;
	}
	#header .menu_zone .menu {
		right: 27px;
	}
	#header .main_container .main_slider .keyvisual .m_txt_inner {
		margin-left: 27px;
	}
	#header .main_container .main_slider .controller_inner {
		margin-left: 27px;
	}
	#header .main_container .main_slider .main_scroll {
		display: none;
	}
}
@media only screen and (max-width: 480px) {
	#header .main_slider {
		font-size: 0.625em;
	}
}

/* page_controller */
#page_controller {
	position: fixed;
	left: 27px;
	bottom: 0;
	font-size: 1em;
	transition: left 0.4s;
	transition-delay: 0.4s;
}
#page_controller.active {
	left: -50px;
	transition-delay: 0s;
}
#page_controller ul {
	position: relative;

	margin-bottom: -38px;
	padding-left: 10px;
	width: calc(100vh - 200px);
	height: 27px;
	overflow: hidden;
	text-align: center;
	transform-origin: left top;
	transform: rotate(-90deg);
	box-sizing: border-box;
}
#page_controller ul::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #191919;
	opacity: 0.2;
	transition: background-color 0.2s;
	transition-timing-function: ease;
}
#page_controller.color ul::before {
	background-color: #fff;
}
#page_controller li {
	float: right;
	margin-left: 26px;
}
#page_controller li a {
	z-index: 1;
	position: relative;
	padding-bottom: 9px;
	font-size: 0.750em;
	font-weight: 600;
	color: #333;
	opacity: 0.35;
	transition: opacity 0.2s, color 0.2s;
	transition-timing-function: ease;
}
#page_controller.color li a {
	color: #fff;
}
#page_controller li.over a,
#page_controller li.active a {
	opacity: 1;
}
#page_controller li a::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	z-index: 2;
	bottom: 1px;
	width: 100%;
	height: 1.2px;
	background-color: #333;
	transform: scaleX(0);
	transition: transform 0.2s, background-color 0.2s;
	transition-timing-function: ease;
}
#page_controller.color li a::before {
	background-color: #fff;
}
#page_controller li.over a::before,
#page_controller li.active a::before {
	transform: scaleX(1);
}

/* page1 */
#page1 {
	width: auto;
	height: 100vh;
	overflow: hidden;
	font-size: 1em;
}
#page1 .page1_table {
	display: table;
	width: 100%;
	height: 100vh;
}
#page1 .page1_inner {
	display: table-cell;
	vertical-align: middle;
}
#page1 .page1_inner .description {
	margin: 0 220px;
}
.content_tit {
	text-align: left;
}
.content_tit h3 {
	position: relative;
	font-size: 2.250em;
	font-weight: 900;
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 0.6s, transform 0.6s;
	transition-timing-function: ease;
	transition-duration: 0.6s;
}
.contents > div[id^=page].active .content_tit h3,
.contents > div[id^=page].active .content_tit p {
	opacity: 1;
	transform: translateY(0);
}
.content_tit h3::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: -30px;
	width: 9px;
	height: 11px;
	background: url(../images/icon_title.png) no-repeat center center;
	background-size: cover;
}
.content_tit p {
	margin-top: 0.625em;
	font-size: 1.125em;
	font-weight: 400;
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 0.6s, transform 0.6s;
	transition-delay: 0.3s;
	transition-timing-function: ease;
	transition-duration: 0.8s;
}
#page1 .page1_inner .description .show {
	padding: 3.750em 0 3.125em 0;
}
#page1 .page1_inner .description .show li {
	position: relative;
	float: left;
	width: 25%;
	opacity: 0;
	transform: translateX(-30px);
	transition: opacity 0.5s, transform 0.5s;
	transition-duration: 1s;
	transition-timing-function: ease;
	transition-delay: 0.6s;
}
#page1.active .page1_inner .description .show li {
	opacity: 1;
	transform: translateX(0);
}
#page1.active .page1_inner .description .show li:nth-child(2){
	transition-delay: 0.8s;
}
#page1.active .page1_inner .description .show li:nth-child(3){
	transition-delay: 1s;
}
#page1.active .page1_inner .description .show li:nth-child(4){
	transition-delay: 1.2s;
}
#page1 .page1_inner .description .show li a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#page1 .page1_inner .description .show li a::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 100%;
	background: url(../images/gradient1.png) no-repeat center center;
	background-size: cover;
}
#page1 .page1_inner .description .show li img {
	width: 100%;
	transform: scale(1) rotate(0deg);
	transition: transform 0.3s, color 0.3s;
	transition-timing-function: ease-out;
}
#page1 .page1_inner .description .show li.over img {
	width: 100%;
	transform: scale(1.15) rotate(-5deg);
}
#page1 .page1_inner .description .show li .show_tit {
	position: absolute;
	left: 0;
	bottom: 60px;
	width: 100%;
}
#page1 .page1_inner .description .show li .show_tit p {
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	transition: color 0.1s;
}
#page1 .page1_inner .description .show li.over .show_tit p {
	color: #fff;
}
#page1 .page1_inner .description .more {
	display: block;
	text-align: center;
	opacity: 0;
	transition: opacity 0.4s;
	transition-delay: 1.6s;
	transition-timing-function: ease;
}
#page1.active .page1_inner .description .more {
	opacity: 1;
}

@media only screen and (max-width: 1200px) {
	#page1 .page1_inner .description {
		margin: 0 130px;
	}
}
@media only screen and (max-width: 1024px) {
	#page1 {
		font-size: 0.875em;
	}
	#page1 .page1_inner .description {
		margin: 0 100px;
	}
}
@media only screen and (max-width: 800px) {
	#page1 .page1_inner .description {
		margin: 0 50px 0 100px;
	}
	#page1 .page1_inner .description .show {
		padding: 3.750em 0 0 0;
	}
	#page1 .page1_inner .description .show li {
		width: 100%;
		height: 16vh;
		overflow: hidden;
	}
	#page1 .page1_inner .description .show li:nth-child(2) {
		display: none;
	}
	#page1 .page1_inner .description .show li a::after {
		background-image: url(../images/gradient2.png);
		top: 0;
		bottom: auto;
	}
	#page1 .page1_inner .description .show li img {
		position: absolute;
		right: 120px;
		top: -10px;
		width: 258px;
		transform: scale(1.5);
	}
	#page1 .page1_inner .description .show li.over img {
		width: auto;
		transform: scale(1.5) rotate(0);
	}
	#page1 .page1_inner .description .show li .show_tit {
		position: absolute;
		left: 6%;
		bottom: 35%;
		width: auto;
	}
	#page1 .page1_inner .description .show li .show_tit p {
		text-align: left;
	}
	#page1 .page1_inner .description .more {
		display: none;
	}
}
@media only screen and (max-width: 480px) {
	#page1 {
		font-size: 0.813em;
	}
}

/* page2 */
#page2 {
	width: auto;
	height: 100vh;
	overflow: hidden;
	font-size: 1em;
}
#page2 .page2_table {
	display: table;
	width: 100%;
	height: 100vh;
	background: url(../images/rental_bg.jpg) no-repeat center center;
	background-size: cover;
}
#page2 .page2_inner {
	display: table-cell;
	vertical-align: middle;
}
#page2 .page2_inner .description {
	margin: 0 220px;
}
#page2 .page2_inner .description .content_tit .br2 {
	display: none;
}
#page2 .page2_inner .description .rental {
	margin-top: 4.375em;
	opacity: 0;
	transition: opacity 0.8s;
	transition-duration: 0.8s;
	transition-timing-function: ease;
	transition-delay: 1s;
}
#page2.active .page2_inner .description .rental {
	opacity: 1;
}
#page2 .page2_inner .description .rental li {
	float: left;
	width: 25%;
	transform: translateY(0);
	transition: transform 0.3s;
}
#page2 .page2_inner .description .rental li.over {
	transform: translateY(-14px);
}
#page2 .page2_inner .description .rental li a {
	display: block;
	text-align: center;
}
#page2 .page2_inner .description .rental li .txt {
	padding-top: 30px;
}
#page2 .page2_inner .description .rental li .txt h5 {
	font-size: 1.125em;
	font-weight: 600;
}
#page2 .page2_inner .description .rental li .txt p {
	padding-top: 0.875em;
	line-height: 1.750em;
	font-size: 0.938em;
	font-weight: 400;
}

@media only screen and (max-width: 1200px) {
	#page2 .page2_inner .description {
		margin: 0 130px;
	}
}
@media only screen and (max-width: 1024px) {
	#page2 {
		font-size: 0.875em;
	}
	#page2 .page2_inner .description {
		margin: 0 100px;
	}
}
@media only screen and (max-width: 800px) {
	#page2 .page2_inner .description {
		margin: 0 50px 0 100px;
	}
	#page2 .page2_inner .description .content_tit br {
		display: none;
	}
	#page2 .page2_inner .description .content_tit p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		width: 100%;
		overflow: hidden;
		word-break: break-all;
	}
	#page2 .page2_inner .description .rental li {
		margin-bottom: 20px;
		width: 50%;
		text-align: center;
	}
	#page2 .page2_inner .description .rental li a {
		display: inline-block;
	}
	#page2 .page2_inner .description .rental li a img {
		width: 80%;
	}
	#page2 .page2_inner .description .rental li .txt {
		padding-top: 10px;
	}
	#page2 .page2_inner .description .rental li .txt {
		padding-top: 10px;
	}
	#page2 .page2_inner .description .rental li .txt p {
		line-height: 1.571em;
	}
}
@media only screen and (max-width: 480px) {
	#page2 {
		font-size: 0.813em;
	}
}

/* page3 */
#page3 {
	position: relative;
	height: 100vh;
	font-size: 1em;
}
#page3 .page3_back {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
}
#page3 .page3_front {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
}
#page3 .page3_back.case0,
#page3 .page3_front.case0 {
	background: url(../images/cont_slider_bg1.jpg) no-repeat center center;
	background-size: cover;
}
#page3 .page3_back.case1,
#page3 .page3_front.case1 {
	background: url(../images/cont_slider_bg2.jpg) no-repeat center center;
	background-size: cover;
}
#page3 .page3_back.case2,
#page3 .page3_front.case2 {
	background: url(../images/cont_slider_bg3.jpg) no-repeat center center;
	background-size: cover;
}
#page3 .page3_back.case3,
#page3 .page3_front.case3 {
	background: url(../images/cont_slider_bg4.jpg) no-repeat center center;
	background-size: cover;
}
#page3 .page3_back .table {
	display: table;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
#page3 .page3_back .inner {
	display: table-cell;
	vertical-align: middle;
}
#page3 .page3_back .inner .cover {
	position: relative;
	margin: 0 auto;
	padding-top: 40px;
	padding-left: 220px;
	max-width: 100%;
	font-size: 1em;
}
#page3 .page3_back .inner .cover .title {
	padding-bottom: 100px;
}
#page3 .page3_back .inner .cover .title h3 {
	font-size: 2.250em;
	font-weight: 900;
	color: #fff;
}
#page3 .page3_back .inner .cover .title span {
	display: block;
	padding-top: 10px;
	font-size: 1.125em;
	font-weight: 300;
	color: #fff;
}
#page3 .page3_back .inner .cover .btns {
	padding-bottom: 35px;
}
#page3 .page3_back .inner .cover .btns .left_btn,
#page3 .page3_back .inner .cover .btns .right_btn {
	position: relative;
	margin-left: 13px;
	float: left;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	border: 2px solid #fff;
	opacity: 0.5;
	cursor: default;
	transition: opacity 0.3s;
}
#page3 .page3_back .inner .cover .btns .left_btn {
	margin-left: 0;
}
#page3 .page3_back .inner .cover .btns li.active {
	opacity: 1;
	cursor: pointer;
}
#page3 .page3_back .inner .cover .btns .left_btn::after {
	content: "";
	display: block;
	position: absolute;
	left: 20px;
	bottom: 15px;
	width: 2px;
	height: 8px;
	background-color: #fff;
	transform: rotate(135deg);
}
#page3 .page3_back .inner .cover .btns .left_btn span.left {
	display: block;
	position: absolute;
	left: 20px;
	top: 16px;
	width: 2px;
	height: 8px;
	background-color: #fff;
	transform: rotate(45deg);
}
#page3 .page3_back .inner .cover .btns .right_btn::after {
	content: "";
	display: block;
	position: absolute;
	left: 20px;
	bottom: 15px;
	width: 2px;
	height: 8px;
	background-color: #fff;
	transform: rotate(-135deg);
}
#page3 .page3_back .inner .cover .btns .right_btn span.right {
	position: absolute;
	display: block;
	left: 20px;
	top: 16px;
	width: 2px;
	height: 8px;
	background-color: #fff;
	transform: rotate(-45deg);
}
#page3 .page3_back .inner .cover .content_box {
	position: relative;
	width: 100%;
	height: 234px;
	overflow: hidden;
	background-color: transparent;
	cursor: pointer;
}
#page_content {
	position: absolute;
	left: 0;
	top: 0;
	width: 600%;
	color: #fff;
}
#page_content > ul > li {
	float: left;
	width: 12.5%;
	user-select: none;
}
#page_content > ul > li > .photo {
	float: left;
}
#page_content > ul > li > .photo img {
	margin-top: 6px;
	margin-bottom: 21px;
	-webkit-user-drag: none;
}
#page_content > ul > li > .photo a {
	position: relative;
	display: block;
	margin-top: 10px;
	font-size: 1.125em;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
}
#page_content > ul > li > .photo a .more_btn {
	display: block;
	position: absolute;
	left: 65px;
	top: 6px;
	width: 2px;
	height: 8px;
	background-color: #fff;
	transform: rotate(-45deg);
}
#page_content > ul > li > .photo a .more_btn::after {
	content: "";
	display: block;
	position: absolute;
	left: -3px;
	top: 4px;
	width: 2px;
	height: 8px;
	background-color: #fff;
	transform: rotate(-90deg);
}
#page_content ul ul {
	float: left;
	width: 50%;
	padding-left: 60px;
}
#page_content ul ul li {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
	padding-top: 10px;
	overflow: hidden;
	line-height: 1.5;
	text-overflow: ellipsis;
	font-size: 1.125em;
	font-weight: 300;
}
#page_content ul ul li:nth-child(1) {
	padding-top: 0;
	font-size: 1.5em;
	font-weight: 600;
	-webkit-line-clamp: 1;
}

@media only screen and (max-width: 1200px) {
	#page3 .page3_back .inner .cover {
		padding-left: 130px;
	}
}
@media only screen and (max-width: 1024px) {
	#page3 {
		font-size: 0.875em;
	}
	#page3 .page3_back .inner .cover {
		padding-left: 100px;
	}
	#page_content ul ul {
		padding-left: 32px;
	}
}
@media only screen and (max-width: 800px) {
	#page_content ul ul {
		clear: left;
		padding: 10px 0 0 0;
		width: 100%;
	}
	#page_content > ul > li > a {
		width: 112px;
		height: 160px;
	}
	#page_content > ul > li > .photo img {
		width: 136px;
		height: 136px;
	}
	#page_content ul ul li:nth-child(n+2) {
		display: none;
	}
}
@media only screen and (max-width: 480px) {
	#page3 {
		font-size: 0.813em;
	}
	#page_content > ul > li {
		width: 14%;
	}
}

/* page4 */
#page4 {
	width: auto;
	height: 100vh;
	overflow: hidden;
	font-size: 1em;
}
#page4 .page4_table {
	display: table;
	width: 100%;
	height: 100vh;
	background: url(../images/culture_place_bg.jpg) no-repeat center center;
	background-size: cover;
}
#page4 .page4_inner {
	display: table-cell;
	vertical-align: middle;
}
#page4 .page4_inner .desctiption {
	margin: 0 220px;
}
#page4 .page4_inner .desctiption .culture_place {
	padding-top: 3.750em;
	opacity: 0;
	transform: translateY(-30px);
	transition: opacity 0.8s, transform 0.8s;
	transition-duration: 0.8s;
	transition-timing-function: ease;
	transition-delay: 0.8s;
}
#page4.active .page4_inner .desctiption .culture_place {
	opacity: 1;
	transform: translateY(0);
}
#page4 .page4_inner .desctiption .culture_place li {
	float: left;
	margin-left: 50px;
	width: calc((100% - 50px)/2);
	box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
}
#page4 .page4_inner .desctiption .culture_place li:first-child {
	margin-left: 0;
}
#page4 .page4_inner .desctiption .culture_place li .photo img {
	max-width: 100%;
}
#page4 .page4_inner .desctiption .culture_place li .photo_txt {
	padding: 1.5em 0;
	text-align: center;
	background-color: #eee;
	transition: background-color 0.3s, color 0.3s;
	transition-timing-function: ease;
}
#page4 .page4_inner .desctiption .culture_place li:hover .photo_txt {
	background-color: #f8ab03;
}
#page4 .page4_inner .desctiption .culture_place li:hover .photo_txt,
#page4 .page4_inner .desctiption .culture_place li:hover .photo_txt p {
	color: #fff;
}
#page4 .page4_inner .desctiption .culture_place li .photo_txt h5 {
	font-size: 1.125em;
	font-weight: 600;
}
#page4 .page4_inner .desctiption .culture_place li .photo_txt p {
	padding-top: 0.5em;
	font-size: 0.938em;
	font-weight: 300;
	color: #767676;
	transition: color 0.3s;
	transition-timing-function: ease;
}

@media only screen and (max-width: 1200px) {
	#page4 .page4_inner .desctiption {
		margin: 0 130px;
	}
}
@media only screen and (max-width: 1024px) {
	#page4 {
		font-size: 0.875em;
	}
	#page4 .page4_inner .desctiption {
		margin: 0 100px;
	}
}
@media only screen and (max-width: 800px) {
	#page4 .page4_inner .desctiption {
		margin: 0 50px 0 100px;
	}
	#page4 .page4_inner .desctiption .culture_place li {
		margin-left: 20px;
		width: calc((100% - 20px)/2);
	}
	#page4 .page4_inner .desctiption .culture_place li .photo_txt p{
		display: inline-block;
		width: 80%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
@media only screen and (max-width: 480px) {
	#page4 {
		font-size: 0.813em;
	}
	#page4 .page4_inner .desctiption .culture_place li {
		margin-left: 0;
		width: 100%;
	}
	#page4 .page4_inner .desctiption .culture_place li:nth-child(2) {
		padding-top: 20px;
	}
}

/* page5 */
#page5 {
	width: auto;
	height: 100vh;
	overflow: hidden;
	font-size: 1em;
}
#page5 .page5_table {
	display: table;
	width: 100%;
	height: 100vh;
}
#page5 .page5_inner {
	margin-left: 220px;
}
#page5 .content_tit {
	display: table-cell;
	padding-right: 80px;
	width: 40%;
	vertical-align: middle;
	text-align: left;
}
#page5 .content_tit h3::before {
	left: 0;
}
#page5 .content_tit .name {
	margin-top: 0;
	padding: 50px 0;
	font-weight: 300;
	transition-delay: 0.6s;
}
#page5 .content_tit .more {
	position: relative;
	font-size: 0.938em;
	font-weight: 300;
	cursor: pointer;
	transition-delay: 0.9s;
}
#page5 .content_tit .more::after {
	content: "";
	display: block;
	position: absolute;
	left: 50px;
	top: 6px;
	width: 7px;
	height: 11px;
	background: url(../images/more_arrow2.png) no-repeat center center;
	background-size: cover;
}
#page5 .gallery_photo {
	display: table-cell;
	width: 60vw;
	overflow: hidden;
	vertical-align: middle;
	opacity: 0;
	transition: opacity 0.8s;
	transition-duration: 0.8s;
	transition-timing-function: ease;
	transition-delay: 1s;
}
#page5.active .gallery_photo {
	opacity: 1;
}
#page5 .gallery_photo a {
	display: block;
	width: 100%;
	height: 100vh;
	background: url(../images/gallery_img.jpg) no-repeat center center;
	background-size: cover;
}

@media only screen and (max-width: 1200px) {
	#page5 .content_tit {
		padding-right: 20px;
	}
	#page5 .page5_inner {
		margin-left: 130px;
	}
}
@media only screen and (max-width: 1024px) {
	#page5 {
		font-size: 0.875em;
	}
	#page5 .page5_inner {
		display: table-cell;
		vertical-align: middle;
	}
	#page5 .content_tit {
		position: relative;
		display: block;
		left: 100px;
		top: 140px;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		height: 40vh;
	}
	#page5 .content_tit h3 {
		position: absolute;
		left: 0;
	}
	#page5 .content_tit p {
		position: absolute;
		top: 44px;
		left: 0;
	}
	#page5 .content_tit p br {
		display: none;
	}
	#page5 .content_tit .name,
	#page5 .content_tit .more {
		display: none;
	}
	#page5 .gallery_photo {
		display: block;
		margin: 0 100px;
		width: auto;
		height: 60vh;
	}
	#page5 .gallery_photo a {
		height: 100%;
	}
}
@media only screen and (max-width: 800px) {
	#page5 .content_tit {
		width: 70%;
	}
	#page5 .gallery_photo {
		margin: 0 50px 0 100px;
	}
}
@media only screen and (max-width: 480px) {
	#page5 {
		font-size: 0.813em;
	}
	#page5 .content_tit p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		width: 90%;
		overflow: hidden;
		word-break: break-all;
	}
}

/* page6 */
#page6 {
	width: auto;
	height: 100vh;
	overflow: hidden;
	font-size: 1em;
}
#page6 .page6_table {
	display: table;
	width: 100%;
	height: 100vh;
}
#page6 .page6_inner {
	display: table-cell;
	vertical-align: middle;
}
#page6 .page6_inner .desctiption {
	margin: 0 220px;
}
#page6 .page6_inner h3 {
	opacity: 1;
	transform: translateY(0);
}
#page6 .page6_inner li.notice,
#page6 .page6_inner li.newsletter {
	width: calc((100% - 50px)/2);
}
#page6 .page6_inner .notice {
	float: left;
	opacity: 0;
	transform: translateY(-40px);
	transition: opacity 0.5s, transform 0.5s;
	transition-duration: 1.2s;
	transition-timing-function: ease;
}
#page6.active .page6_inner .notice{
	opacity: 1;
	transform: translateY(0);
}
#page6 .page6_inner .notice .content_tit,
#page6 .page6_inner .newsletter .content_tit {
	text-align: left;
}
#page6 .page6_inner .notice .content_tit h3::before,
#page6 .page6_inner .newsletter .content_tit h3::before {
	left: 0;
}
#page6 .page6_inner .notice .board_area {
	padding: 2em 0;
}
#page6 .page6_inner .notice .board_area li {
	padding-top: 0.750em;
}
#page6 .page6_inner .notice .board_area li:first-child {
	padding-top: 0;
}
#page6 .page6_inner .notice .board_area li span {
	display: inline-block;
	padding-right: 0.750em;
	vertical-align: middle;
	font-size: 0.938em;
	font-weight: 300;
	color: #767676;
}
#page6 .page6_inner .notice .board_area li a {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.125em;
	font-weight: 400;
}
#page6 .page6_inner .notice .board_area li a:hover {
	text-decoration: underline;
}
#page6 .page6_inner .newsletter {
	float: right;
	opacity: 0;
	transform: translateY(40px);
	transition: opacity 0.5s, transform 0.5s;
	transition-duration: 1.2s;
	transition-timing-function: ease;
}
#page6.active .page6_inner .newsletter {
	opacity: 1;
	transform: translateY(0);
}
#page6 .page6_inner .newsletter .subscribe_form {
	padding: 2em 0;
}
#page6 .page6_inner .newsletter .subscribe_form .title {
	font-size: 1.125em;
	font-weight: 400;
}
#page6 .page6_inner .newsletter .subscribe_form input.email,
#page6 .page6_inner .newsletter .subscribe_form input.name {
	display: block;
	width: 100%;
}
#page6 .page6_inner .newsletter .subscribe_form input[type=text] {
	padding: 0.625em 0;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 1.125em;
	background-color: transparent;
	color: #333;
	border: none;
	border-bottom: 1px solid #767676;
	outline: 0;
	box-sizing: border-box;
}
#page6 .page6_inner .newsletter .subscribe_form label {
	float: left;
	padding-top: 1.250em;
	width: 100%;
}
#page6 .page6_inner .newsletter .subscribe_form span {
	font-size: 0.938em;
	font-weight: 400;
	border-bottom: 1px solid #767676;
}
#page6 .page6_inner .newsletter .subscribe_form .subscribe {
	float: left;
	padding-top: 1.250em;
	text-transform: uppercase;
	font-size: 0.938em;
	font-weight: 600;
	border-bottom: 2px solid #333;
}

@media only screen and (max-width: 1200px) {
	#page6 .page6_inner .desctiption {
		margin: 0 130px;
	}
}
@media only screen and (max-width: 1024px)  {
	#page6 {
		font-size: 0.875em;
	}
	#page6 .page6_inner .desctiption {
		margin: 0 100px;
	}
}
@media only screen and (max-width: 800px){
	#page6 .page6_inner .desctiption {
		margin: 0 50px 0 100px;
	}
	#page6 .page6_inner li.notice, #page6 .page6_inner li.newsletter {
		width: 100%;
	}	
	#page6 .page6_inner .newsletter {
		padding-top: 50px;
	}
}
@media only screen and (max-width: 480px) {
	#page6 {
		font-size: 0.813em;
	}
	#page6 .page6_inner .notice .board_area li span {
		display: none;
	}
	#page6 .page6_inner .notice .board_area li a {
		width: 90%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

/* page7 */
#page7 {
	height: 100vh;
	font-size: 1em;
}
#page7 .page7_area {
	width: auto;
	height: calc(100vh - 240px);
	overflow: hidden;
	background: url(../images/contact_bg.jpg) no-repeat center center;
	background-size: cover;
}
#page7 .page7_table {
	display: table;
	width: 100%;
	height: calc(100vh - 240px);
}
#page7 .page7_inner {
	display: table-cell;
	vertical-align: middle;
}
#page7 .page7_inner .content_tit {
	margin: 0 220px;
}
#page7 .page7_inner .content_tit .contact {
	padding-top: 2.125em;
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 0.6s, transform 0.6s;
	transition-delay: 0.3s;
	transition-timing-function: ease;
	transition-duration: 0.8s;
}
#page7.active .page7_inner .content_tit .contact {
	opacity: 1;
	transform: translateY(0);
}
#page7 .page7_inner .content_tit .contact li {
	position: relative;
	float: left;
	margin-left: 25px;
}
#page7 .page7_inner .content_tit .contact li:first-child {
	margin-left: 0;
}
#page7 .page7_inner .content_tit .contact li::before {
	content: "";
	display: block;
	position: absolute;
	left: -12px;
	top: 2px;
	width: 1px;
	height: 15px;
	background-color: #333;
}
#page7 .page7_inner .content_tit .contact li:first-child::before {
	display: none;
}
#page7 .page7_inner .content_tit .contact li img {
	max-width: 100%;
}
#page7 .page7_inner .content_tit .contact li span {
	padding-left: 10px;
	font-size: 1.125em;
	font-weight: 400;
	color: #333;
}

/* footer */
#footer {
	height: 240px;
}
#footer p {
	font-size: 0.938em;
	font-weight: 500;
	color: #767676;
}
#footer .foot_inner {
	position: relative;
	margin: 0 220px;
}
#footer .top_btn {
	position: absolute;
	right: 0;
	bottom: 10px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 1.125em;
	font-weight: 500;
	background-color: #333;
	color: #fff;
	transition: background-color 0.3s;
}
#footer .top_btn.over {
	background-color: #f8ab03;
}
#footer .foot_info_top {
	padding: 3.125em 0 1.438em;
	border-bottom: 1px solid #eee;
}
#footer .foot_info_top p {
	position: relative;
	display: inline-block;
	padding-right: 16px;
	line-height: 1.625em;
	vertical-align: middle;
}
#footer .foot_info_top p:last-child {
	padding-right: 0;
}
#footer .foot_info_top p::after {
	content: "";
	display: block;
	position: absolute;
	right: 5px;
	top: 4px;
	width: 1px;
	height: 15px;
	background-color: #333;
}
#footer .foot_info_top p.address::after ,
#footer .foot_info_top p.num::after {
	display: none;
}
#footer .foot_info_top .br2, 
#footer .foot_info_top .br3 {
	display: none;
}
#footer .foot_info_bottom {
	position: relative;
	padding-top: 1.250em;
}
#footer .foot_info_bottom .copy {
	float: left;
}
#footer .foot_info_bottom .foot_menu {
	float: right;
}
#footer .foot_info_bottom .foot_menu li {
	float: left;
	padding-left: 1.375em;
}
#footer .foot_info_bottom .foot_menu li:first-child {
	padding-left: 0;
}
#footer .foot_info_bottom .foot_menu li a {
	display: block;
	font-size: 0.938em;
	font-weight: 500;
	color: #767676;
}
#footer .foot_info_bottom .foot_menu li:first-child a {
	color: #f8ab03;
}

@media only screen and (max-width: 1200px) {
	#page7 .page7_inner .content_tit {
		margin: 0 130px;
	}
	#page7 #footer .foot_inner {
		 margin: 0 130px;
	}
}
@media only screen and (max-width: 1024px) {
	#page7 {
		font-size: 0.875em;
	}
	#page7 .page7_inner .content_tit {
		margin: 0 30px 0 100px;
	}
	#page7 #footer .foot_inner {
		 margin: 0 100px;
	}
}
@media only screen and (max-width: 800px) {
	#page7 .page7_inner .content_tit {
		margin: 0 20px 0 100px;
	}
	#page7 #footer .foot_inner {
		 margin: 0 50px 0 27px;
	}
	#page7 .page7_inner .content_tit .contact li:nth-child(3) {
		width: 100%;
		margin-left: 0;
		padding-top: 8px;
	}
	#page7 .page7_inner .content_tit .contact li:nth-child(3)::before {
		display: none;
	}
}
@media only screen and (max-width: 630px) {
	#footer .foot_info_top .br2 {
		display: block;
	}
	#footer .foot_info_top p.fax::after {
		display: none;
	}
	#footer .foot_info_bottom .foot_menu {
		float: left;
		width: 100%;
		padding-top: 10px;
	}
}
@media only screen and (max-width: 520px) {
	#footer .foot_info_top .br3 {
		display: none;
	}
	#footer .foot_info_top p.name::after {
		display: block;
	}
}
@media only screen and (max-width: 480px) {
	#page7 {
		font-size: 0.813em;
	}
	#page7 .page7_inner .content_tit .contact li {
		width: 100%;
		margin-left: 0;
		padding-top: 8px;
	}
	#page7 .page7_inner .content_tit .contact li::before {
		display: none;
	}
}